# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
.vscode/

*.pth

# Python cache
__pycache__
ObjectFormer.egg-info
*.Python

# Mac OS
.DS_Store

# Checkpoints
CKPT
checkpoints/

# Pre-trained weights
pretrained/

# ONNX weights
onnx/
*.onnx

# Logs
runs
logs/
visualizations/

# Dataset
training_dataset/

# Inference results
inference_results/